@{
    Layout = null;
}


@using (Html.BeginForm("Index", "PickFlow", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <select id="testSelect" name="testSelect"
            onclick="optclicked">
        @{ WebApplication1.NH.NHibernateOperation operation = new WebApplication1.NH.NHibernateOperation();
            FlowDefinition flow = new FlowDefinition();
            string FlowValue;
            IList<FlowDefinition> flowlist = new List<FlowDefinition>();
            flowlist = operation.GetList<FlowDefinition>();
            foreach (FlowDefinition i in flowlist)
            {
                <option value="@i.id_flow">@i.id_flow</option>
            }
            FlowValue = Request["testSelect"];

        }

    </select>
    <input type="submit" />


            }

