@{
    Layout = null;
}

<head>

</head>
<body>
    
    <button type="button" onclick="location.href='@Url.Action("Index", "PickFlow")' ">PickFlow</button>

    <button type="button" onclick="location.href='@Url.Action("Index", "Tasks")' ">Tasks</button>

    <button type="button" onclick="location.href='@Url.Action("Index", "Document")' ">Document</button>

</body>