@{
    Layout = null;
}

<head>

</head>
<body>
    
    <button type="button" onclick="location.href='@Url.Action("Index", "AddDocument")' ">AddDocument</button>

    <button type="button" onclick="location.href='@Url.Action("Index", "Tasks")' ">Tasks</button>

</body>