@model WebApplication1.Models.AttributeModel
@{
    Layout = null;
}


@using (Html.BeginForm("PickTable", "Table", FormMethod.Post))
{

    @Html.DropDownListFor(m => m.Id_attribute, new SelectList(Model.Attributeslist, "Id_attribute", "Name"))
    <input type="submit" name="Show" value=" Wybierz Tabele" />
    <input type="submit" name="Add" value="Add" />
    if (Model.atributechilds.Count != 0)
    {

        <table border="1">
            <tr>
                @for (int item = 0; item < Model.atributechilds.Count; item++)
                {
                    <td>@Model.atributechilds[item].Name</td>
                }
            </tr>

            @for(int j = 0; j < Model.listaKarola.Count / Model.atributechilds.Count; j++)
            {
                <tr>


                </tr>
            }

            @for (int r = 0; r < Model.MaxRow; r++)
            {
                var elements = Model.listaKarola.Where(x => x.RowIndex == r).ToList();
                <tr>
                    @for (int item = 0; item < Model.atributechilds.Count; item++) {
                        var e = elements.Where(x => x.id_attribute.Id_attribute == Model.atributechilds[item].Id_attribute);
                    }
                    @for (int item = 0; item < Model.listaKarola.Count; item++)
                    {
                        <td>
                            @Html.TextBoxFor(x => row[item].Value)

                        </td>
                    }
                </tr>
            }

        </table>
        <input type="submit" name="newValue" value="ZapiszWartosci" />
    }

}








