@model WebApplication1.Models.AttributeModel
@{
    Layout = null;
}


@using (Html.BeginForm("PickTable", "Table", FormMethod.Post))
{
    
    @Html.DropDownListFor(m => m.Id_attribute, new SelectList(Model.Attributeslist, "Id_attribute", "Name"))
    <input type="submit" value=" ok"/>
}

@using (Html.BeginForm("Pickchild", "Table", FormMethod.Post))
{
    foreach (var item in Model.atributechilds)
    {
        <td>@item.Name</td>
        {
            foreach (var i in Model.flowextension)
            {
                <tr>@Html.EditorForModel(i.Value)</tr>
            }
        }





    }
}






 