@model WebApplication1.Models.AttributeModel
@{
    Layout = null;
}


@using (Html.BeginForm("PickTable", "Table", FormMethod.Post))
{
    
    @Html.DropDownListFor(m => m.Id_attribute, new SelectList(Model.Attributeslist, "Id_attribute", "Name"))
    <input type="submit" name="Show" value=" Wybierz Tabele" />
    <input type="submit" name="Add" value="Add" />
    if (Model.atributechilds.Count != 0)
    {
    <table border="1">
        <tr>
            @for (int item = 0; item < Model.atributechilds.Count; item++)
            {
                <td>@Model.atributechilds[item].Name</td>
            }
        </tr>
        @for (int i = 0; i < Model.listaKarola.ElementAt(0).Count; i++)
        {
            <tr>
                @for (int item = 0; item < Model.listaKarola.Count; item++)
                {

                <td>
                    @Html.TextBoxFor(Model => Model.listaKarola.ElementAt(item).ElementAt(i).Value)

                   
                </td>
                }
            </tr>
        }

</table>
<input type="submit" name="newValue" value="ZapiszWartosci" />
    }



}








 