
@{
    ViewBag.Title = "Execute";
}

@if (ViewBag.Result == 403)
{
    <h1>403</h1>
    <h2>Nie masz dostępu do podanego zasobu</h2>
}
else
{
<h2>Edytujesz Flow</h2>
<h3>@ViewBag.Flow.Name</h3>

<button type="button" onclick="location.href='@Url.Action("Change", "Tasks", new { id = @ViewBag.Flow.id_flow })' ">Akceptuj</button><br />
<br />

}
