@model WebApplication1.FullFlowModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Execute";
}

<div class="container">
    @if (ViewBag.Result == 403)
    {
        <h1>403</h1>
        <h2>You don't have permissions</h2>
    }
    else
    {
        <h2>Edit Flow</h2>
        <h3>@ViewBag.Flow.Name</h3>


        <h4>@ViewBag.Tekst</h4>
        Html.RenderPartial("~/Views/Tasks/TaskForm.cshtml");
    }
</div>