
@{
    ViewBag.Title = "Index";
}

<h2>Active Tasks to do</h2>

@for (int i = 0; i < ViewBag.List.Count; i++)
{
    <h2>@ViewBag.List[i].Description</h2>
    <button type="button" onclick="location.href='@Url.Action("Execute", "Tasks", new { number = i })' ">Wykonaj to</button><br />
}



