@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Index";
}


<h2>Your positions</h2>


@foreach (KeyValuePair<Position, IList<Flow>> item in ViewBag.Task.Map)
{
    <h2>@item.Key.Name</h2><br/>

    if (item.Value.Count == 0)
    {
        <h2>You don't have task to do in this position</h2>
    }
    

    for (int i = 0; i < item.Value.Count; i++)
    {
        <h3>@item.Value[i].Name</h3>
        <button type="button" onclick="location.href='@Url.Action("Execute", "Tasks", new { id = item.Key.Id_position, number = item.Value[i].id_flow })' ">Do it</button><br />
        <br/>
    }
}



